@model Book


<div class="container  p-3 w-100" >
    <div class="card mb-3 bg-dark  rounded-3" style="max-width: auto;border-color: #373b3e;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #373b3e;">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src=@Model.imgUrl class="img-fluid rounded m-3" alt="imgBook" style="width: 75% !important;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-white">
                    <h5 class="card-title mt-3 mb-3 text-center" style="cursor:default">@Model.title</h5>
                    <h6 class="card-subtitle text-muted mb-3" style="color:white !important;cursor:default">@Model.author</h6>
                    <p class="card-text text-justify " style="cursor:default">@Model.description</p>
                    <p class="card-text mb-3"><small class="text-muted" style="color:white !important;cursor:default">@Model.publisher</small></p>
                    <div class="row align-items-end">
                        <div class="col">
                            <table class="table table-dark table-hover w-100 h-100" style="cursor: default">
                                <tr class="table-dark ">
                                    <td class="table-dark ">
                                        Titlu
                                    </td>
                                    <td class="table-dark">
                                        @Model.title
                                    </td>
                                </tr>
                                <tr class="table-dark">
                                    <td class="table-dark">
                                        Autor
                                    </td>
                                    <td class="table-dark">
                                        @Model.author
                                    </td>
                                </tr>
                                <tr class="table-dark">
                                    <td class="table-dark">
                                        Anul
                                    </td>
                                    <td class="table-dark">
                                        @Model.publishYear
                                    </td>
                                </tr>
                                <tr class="table-dark" >

                                    <td class="table-dark">
                                        Gen
                                    </td>
                                    <td class="table-dark ">
                                        <a class="link-underline link-underline-opacity-0 text-white " style="" asp-controller="Book" asp-action="List" asp-route-genre="@Model.genre.genreName">@Model.genre.genreName</a>
                                    </td>
                                </tr>

                                <tr class="table-dark">
                                    <td class="table-dark">
                                        Editură
                                    </td>
                                    <td class="table-dark">
                                        @Model.publisher
                                    </td>
                                </tr>
                            </table>


                        </div>
                        <div class="col-md-8">
                            <h4 class="text-white d-flex justify-content-center mt-5 mb-5 customTextColor" style="cursor:default">@Model.price RON</h4>

                            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-bookId="@Model.bookId"  class="btn bg-dark btn-dark customTextColor mt-5 font-weight-bold w-100 bottom-0 align-content-center"><h3 class="d-flex justify-content-center ">Cumpară</h3></a>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>


</div>